<div id="route-container">
  <div class="font-bold">
      <p id="route-label">Fuel Station Search</p>
  </div>
  <div class="add-route-container">
      <div id="input-and-display-address" class="col col-xl-6 col-lg-12">
        <div class="form-group">

            <input  type="checkbox"  value="Use Google Address Search" name="useGoogleAddressSearch" [(ngModel)]="useGoogleAddressSearch" />&nbsp;
             Use Google Address Search
             <br/><br/>
            <form [formGroup]="fuelWatchForm" (ngSubmit)="onSubmit()">

            <select class="form-control"   formControlName="product" >
                <option hidden [ngValue]="null"  selected>Select fuel product</option>
                <option value="1">Unleaded Petrol</option>
                <option value="2">Premium Unleaded</option>
                <option value="4">Diesel</option>
                <option value="5">LPG</option>
                <option value="6">98 RON</option>
                <option value="10">E85</option>
                <option value="11">Brand diesel</option>
              </select>

              <div *ngIf="submitted && fuelWatchForm.controls.product.errors" class="error">
                <div *ngIf="fuelWatchForm.controls.product.errors.required ">Fuel product is required</div>
              </div>
              <div class="form-group" [hidden]="useGoogleAddressSearch">
                <br/>
                <input  type="checkbox"  value="Forecast tomorrow price" formControlName="day" />&nbsp; Forecast tomorrow price
                <br/><br/>
                <input type="text" formControlName="suburb" placeholder="Enter suburb name">
                <br/><br/>
                <select class="form-control"   formControlName="region" >
                    <option  [ngValue]="null"  selected>Select region</option>
                    <option value="25">Metro : North of River</option>
                    <option value="26">Metro : South of River</option>
                    <option value="27">Metro : East/Hills</option>
                    <option value="15">Albany</option>
                    <option value="28">Augusta / Margaret River</option>
                    <option value="30">Bridgetown / Greenbushes</option>
                    <option value="1">Boulder</option>
                    <option value="2">Broome</option>
                    <option value="16">Bunbury</option>
                    <option value="3">Busselton (Townsite)</option>
                    <option value="29">Busselton (Shire)</option>
                    <option value="19">Capel</option>
                    <option value="4">Carnarvon</option>
                    <option value="33">Cataby</option>
                    <option value="5">Collie</option>
                    <option value="34">Coolgardie</option>
                    <option value="35">Cunderdin</option>
                    <option value="31">Donnybrook / Balingup</option>
                    <option value="36">Dalwallinu</option>
                    <option value="6">Dampier</option>
                    <option value="20">Dardanup</option>
                    <option value="37">Denmark</option>
                    <option value="38">Derby</option>
                    <option value="39">Dongara</option>
                    <option value="7">Esperance</option>
                    <option value="40">Exmouth</option>
                    <option value="41">Fitzroy Crossing</option>
                    <option value="17">Geraldton</option>
                    <option value="21">Greenough</option>
                    <option value="22">Harvey</option>
                    <option value="42">Jurien</option>
                    <option value="8">Kalgoorlie</option>
                    <option value="43">Kambalda</option>
                    <option value="9">Karratha</option>
                    <option value="44">Kellerberrin</option>
                    <option value="45">Kojonup</option>
                    <option value="10">Kununurra</option>
                    <option value="18">Mandurah</option>
                    <option value="32">Manjimup</option>
                    <option value="58">Meckering</option>
                    <option value="46">Meekatharra</option>
                    <option value="47">Moora</option>
                    <option value="48">Mt Barker</option>
                    <option value="61">Munglinup</option>
                    <option value="23">Murray</option>
                    <option value="11">Narrogin</option>
                    <option value="49">Newman</option>
                    <option value="50">Norseman</option>
                    <option value="60">North Bannister</option>
                    <option value="12">Northam</option>
                    <option value="62">Northam (Shire)</option>
                    <option value="13">Port Hedland</option>
                    <option value="51">Ravensthorpe</option>
                    <option value="57">Regans Ford</option>
                    <option value="14">South Hedland</option>
                    <option value="53">Tammin</option>
                    <option value="24">Waroona</option>
                    <option value="54">Williams</option>
                    <option value="55">Wubin</option>
                    <option value="59">Wundowie</option>
                    <option value="56">York</option>                    
                  </select>
                  <br/>
                  <select class="form-control"   formControlName="stateRegion" >
                    <option  [ngValue]="null"  selected>Select state region</option>
                    <option value="1">Gascoyne</option>
                    <option value="2">Goldfields-Esperance</option>
                    <option value="3">Great Southern</option>
                    <option value="4">Kimberley</option>
                    <option value="5">Mid-West</option>
                    <option value="6">Peel</option>
                    <option value="7">Pilbara</option>
                    <option value="8">South-West</option>
                    <option value="9">Wheatbelt</option>
                    <option value="98">Metro</option>                    
                  </select>
                  <div *ngIf="submitted && !valid" class="error">
                    <div >If Suburb not provided, Region or State Region is required.</div>
                  </div>
    

                  <br/><br/><input type="submit" value="Search" class="cta">
            </div>
            </form>
        </div>
          <div class="form-group"  [hidden]="!useGoogleAddressSearch">
              <input class="form-control" #search [formControl]="searchControl" type="text" placeholder="Search for Location" autocorrect="off"
                  autocapitalize="off" spellcheck="off" >
          </div>
          <div id="addresses-container" *ngIf="addresses">
              <ul *ngFor="let address of addresses; let index = index; trackBy: trackByIndex;">
                  <div class="line">
                      <div class="letter-marker">{{ index }}</div>
                      <div>
                          <li>
                              <div>{{ address.street }}</div>
                              <div>{{ address.additionalInfo }}</div>
                              <!-- <input class="address-complement" placeholder="Ex.: AP 65 or HOUSE 2" [(ngModel)]="addresses[index].additionalInfo"> -->
                          </li>
                      </div>
                  </div>
              </ul>
          </div>
          <div id="distance-price-container" *ngIf="distance">
              <div id="distance-container">
                  <div class="font-bold">
                      <p id="distance-label">Distance</p>
                  </div>
                  <div id="distance-value">{{ distance }} km</div>
              </div>
              <div id="price-container">
                      <div class="font-bold">
                          <p id="price-label">Total Due</p>
                      </div>
                      <div id="price-value">{{ distancePrice | currency:'AUD' }}</div>
              </div>
          </div>
      </div>
      <div id="map" class="col col-xl-6 col-lg-12">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
              <div >
                  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label">
                  </agm-marker>
              </div>

          </agm-map>
      </div>
  </div>
</div>
