input[placeholder] { text-overflow: ellipsis; }

.border {
    border: 1em;
    border-radius: 10%;
}

#route-container {
  margin: 1em;
}

.add-route-container {
    display: flex;
    padding: 0%;
    margin-bottom: 5em;

    #input-and-display-address {
        justify-content: flex-start;
        padding: 0%;

        #distance-price-container {
            display: flex;
            justify-content: flex-end;
        }
    }
    #map {
        justify-content: flex-end;
        padding-right: 0%;
    }
}

ul {
    list-style: none;
    padding: 0%;
}

agm-map {
    height: 500px;
    width: 100%;
}

#distance-container {
    padding-top: 2em;
    padding-right: 2em;
}

#price-container {
    padding-top: 2em;
}

.font-bold {
    font-weight: bold;
}

.line {
    display: flex;
    align-content: center;
}

.letter-marker {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    margin-right: 1em;
    align-self: center;
}

.address-complement, .personResponsible, .scheduledArrivalTime, .waitingTime  {
    border: none;
}

.center {
    vertical-align: middle;
}

label {
    display: block;
    
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        color: red;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.error {
    margin-top: -20px;
    color: red;
    padding: .5em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
}

.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 0.1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}